<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>чатик</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<button onclick="getMessageHistory()">getMessageHistory</button>
<div id="messageList" style="width: 500px; height: 500px; margin: 200px auto; border: 2px dotted #ccc; overflow-y: auto;"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<script id="messageTemplate" type="text/x-jquery-tmpl">
        <div class="message">
           {{if embed !== true}}
           <hr>
           <h4>Заголовок-${id}, userId = ${user}</h4>
                <span>reateAt = ${createAt}</span>
           {{/if}}
           <div class="body"><span>messId = ${id}</span>  ${text} <a onclick="removeMessage(${id}, this)" >удалить</a></div>
        </div>
</script>


<script type="text/javascript">
   // messageList

   var pageToken = null, lastReceivedMessage = null;
   getMessageHistory(true);

//    $(function () {
////        'use strict';
//        $("#messageList").scroll(function(gg) {
//            if($(this).scrollTop() < 20)
//                getMessageHistory();
//        });
//    });


   window.setInterval(getNewMessages, 5000);

   function getNewMessages() {
       $.get(
           `http://chat.test/app.php`,
           { 'route' : 'newMessage', 'lastReceivedMessage' : lastReceivedMessage },
           function(data) {

               console.log(data);

               lastReceivedMessage = data.lastReceivedMessage;
               data.messages.forEach(function(message){
                   $('#messageTemplate').tmpl(message).appendTo('#messageList');

               });

           }
       );
    }

   function getMessageHistory(firstExecution = false) {
       $.get(
           `http://chat.test/app.php`,
           {'route': 'messageHistory', 'pageToken': pageToken},
           function (data) {

               console.log(data);

               pageToken = data.pageToken;
               if (firstExecution === true)
                   lastReceivedMessage = data.lastReceivedMessage;

               data.messages.forEach(function (message) {
                   $('#messageTemplate').tmpl(message).prependTo('#messageList');

               });

           }
       );
   }

   function removeMessage(messId, element) {
       $.get(
           `http://chat.test/app.php`,
           { 'route' : 'deleteMessage', 'messageId' : messId },
           function(data) {
               console.log(data);
                if(data.result == true) {
                    $(element).closest('div.message').remove();
                }

           }
       );
   }

</script>
</body>
</html>


